# Environment variables example
DATABASE_URL="postgresql://neondb_owner:npg_bPB1WTcxufh2@ep-still-silence-adv3qqc7-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_bPB1WTcxufh2@ep-still-silence-adv3qqc7.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="oraculo-arcangeles-nextauth-secret-2024-production-key"
JWT_SECRET="oraculo-arcangeles-jwt-secret-2024-super-secure-key"
EMAIL_SERVER_HOST="smtp.gmail.com"
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER="your-email@gmail.com"
EMAIL_SERVER_PASSWORD="your-app-password"
EMAIL_FROM="noreply@oraculo.com"

# Google OAuth (DESHABILITADO)
# GOOGLE_CLIENT_ID="your-google-client-id"
# GOOGLE_CLIENT_SECRET="your-google-client-secret"